Repository kapi2289/vulcan-api, pull requests merged in 2021-01, with the labels that each got.

#49 Fix and optimize tests.
  tests/conftest.py
  vulcan/_utils.py
Labels: bug, testing

#47 Add support for fetching timetable, homework list and attendance (hebe)
  docs/source/hebe/full-docs.rst
  vulcan/hebe/_api_helper.py
  vulcan/hebe/_endpoints.py
  vulcan/hebe/_hebe_data.py
  vulcan/hebe/data/__init__.py
  vulcan/hebe/data/_attendance.py
  vulcan/hebe/data/_homework.py
  vulcan/hebe/data/_lesson.py
  vulcan/hebe/model/__init__.py
  vulcan/hebe/model/_timeslot.py
Labels: enhancement, hebe

#51 Make student second name property optional
  vulcan/_student.py
Labels: hotfix

#52 Close client sesion after registration [hebe]
  vulcan/hebe/_account.py
Labels: hebe
