Repository kapi2289/vulcan-api, pull requests merged in 2021-02, with the labels that each got.

#53 Update date format in request
  vulcan/hebe/_api_helper.py
Labels: hebe, hotfix

#56 Make student second name property optional
  vulcan/hebe/model/_pupil.py
  vulcan/hebe/model/_student.py
Labels: hebe, hotfix

#65 Implement Attachment model in Homework
  docs/source/hebe/full-docs.rst
  vulcan/hebe/data/_homework.py
  vulcan/hebe/model/__init__.py
  vulcan/hebe/model/_attachment.py
Labels: hebe

#67 Remove asyncio from requirements
  setup.py
Labels: dependencies

#66 [Hotfix] Make grade category optional
  vulcan/hebe/data/_grade.py
Labels: hebe, hotfix
